@charset "UTF-8";

/*
==========================================
Configuração padrão
==========================================
*/

body:not(.home-page) * {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/*
=========================================
Configuração da Vitrine (Pág principal)
=========================================
*/

body.home-page {
    background-color: rgb(224, 224, 224);
}

/*
==========================================
Classes definidas (Pág principal)
==========================================
*/

.home-page ul {
    margin-top: -20px;
    margin-bottom: -20px;
}