@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=IM+Fell+French+Canon+SC&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Noto+Serif+JP:wght@200..900&display=swap');

:root {
    --fonte-eee: "Google Sans Flex";
    --fonte-1: "Noto Serif JP", serif;
    --fonte-eg: "Lora", serif;
    --fonte-paragrafo: "Inter Tight", sans-serif;
    --fonte-titulo: "IM Fell French Canon SC", serif;
}

/* ==========================
   TEMA: ADS (ALGORITMOS)
   ========================== */

body.temas-ads {
    background-color: rgb(0, 0, 0);
    background-image: url(/assets/backgrounds/background_ads.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

main {
    width: clamp(420px, 70%, 1100px);
    margin: auto;
    padding: 20px;
    border-radius: 2px;
    font-size: clamp(30px, 60%, 40px);
    text-shadow: 3px 0px 1px rgba(0, 0, 0, 0.199);
    box-shadow: 0px 10px 10px 10px rgba(0, 255, 0, 0.295);
}

main > p {
    font-family: var(--fonte-inter);
    text-align: justify;
}

header {
    background-color: rgba(0, 0, 0, 0.603);
    width: 90%;
    height: 200px;
    color: white;
    margin: auto;
    margin-top: -10px;
    margin-bottom: 60px;
    text-align: center;
}

header > nav {
    background-color: rgba(88, 88, 88, 0.795);
    margin-top: 128px;
    padding: 10px;
    color: white;
    font-size: 20px;
}

header > nav > a {
    color: white;
    margin: 30px;
}

header > nav > a:hover {
    color: rgb(174, 152, 255);
    text-shadow: 0px 0px 10px rgb(0, 17, 255);
}

div:not(.boxcodigo) {
    text-align: center;
}

footer {
    color: white;
    background-color: rgba(0, 0, 0, 0.356);
    border: 1px solid rgb(113, 113, 255);
    margin-top: 20px;
    padding: -10px;
    text-align: center;
}

/* ==========================
   CLASSES-IDS, CONJUNTOS: ADS
   ========================== */

main.main-ads {
    background-color: rgba(105, 162, 211, 0.911);
}

/* ==========================
   CLASSES-IDS, ISOLADAS: ADS
   ========================== */

.boxcodigo {
    background-color: rgb(49, 49, 49);
    padding: 10px;
    border: 3px solid rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px 10px rgba(0, 0, 0, 0.144);
    color: rgba(172, 255, 47, 0.822);
    font-size: 14px;
    font-weight: bolder;
}

/* ==========================
   TEMA: MATEMÁTICA GERAL
   ========================== */

body.temas-matematica {
    background-color: rgb(0, 0, 0);
    background-image: url(/assets/backgrounds/Math-background.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

main.main-math {
     background-color: rgba(0, 0, 0, 0.644);
     border: 3px solid white;
     color: white;
}

h1.math-titulo:not(header>h1) {
    font-family: var(--fonte-titulo);
    color: rgb(0, 255, 128);
    padding: 10px;
}

h1.math-header {
    font-family: var(--fonte-1);
    font-size: 50px;
    color: rgb(0, 211, 0);
}

div>img.quadro-math {
    width: clamp(380px, 60%, 500px);
    text-align: center;
    border: 10px solid rgba(0, 0, 0, 0.952);
    border-style: groove;
    background-color: rgb(26, 92, 21);
}

/* ==========================
   CLASSES ISOLADAS: MATEMÁTICA
   ========================== */

.respostas {
    background-color: green;
    color: rgb(255, 251, 2);
    border: 2px solid black;
    margin-top: -10px;
    padding: 5px;
    list-style-type: none;
    display: inline-block;
}

.math-destaque {
    color: yellow;
    font-weight: bolder;
}