@charset "UFT-8";

/* ==========================
   TEMA: ADS (ALGORITMOS)
   ========================== */

body.temas-ads {
    background-color: rgb(0, 0, 0);
    background-image: url(/assets/backgrounds/background_ads.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

main {
    width: clamp(420px, 70%, 1100px);
    margin: auto;
    padding: 20px;
    border-radius: 2px;
    font-size: clamp(30px, 60%, 40px);
}

header {
    background-color: rgba(0, 0, 0, 0.603);
    width: 90%;
    height: 200px;
    color: white;
    margin: auto;
    margin-top: -10px;
    margin-bottom: 30px;
    text-align: center;
}

header > nav {
    background-color: rgba(88, 88, 88, 0.795);
    margin-top: 120px;
    padding: 10px;
    color: white;
    font-size: 20px;
}

header > nav > a {
    color: white;
    margin: 30px;
}

header > nav > a:hover {
    color: rgb(174, 152, 255);
    text-shadow: 0px 0px 10px rgb(0, 17, 255);
}

div:not(.boxcodigo) {
    text-align: center;
}

footer {
    color: white;
    background-color: black;
    text-align: center;
}

/* ==========================
   CLASSES-IDS, CONJUNTOS: ADS
   ========================== */

main.main-ads {
    background-color: rgba(105, 162, 211, 0.911);
}

div>img.quadro-math {
    width: clamp(380px, 60%, 500px);
    text-align: center;
    border: 10px solid rgba(0, 0, 0, 0.952);
    border-style: groove;
    background-color: rgb(211, 211, 211);
}

/* ==========================
   CLASSES-IDS, ISOLADAS: ADS
   ========================== */

.boxcodigo {
    background-color: rgb(49, 49, 49);
    padding: 10px;
    border: 3px solid rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px 10px rgba(0, 0, 0, 0.144);
    color: rgba(172, 255, 47, 0.822);
    font-size: 14px;
    font-weight: bolder;
}

/* ==========================
   TEMA: MATEMÁTICA GERAL
   ========================== */

body.temas-matematica {
    background-color: rgb(0, 0, 0);
    background-image: url(/assets/backgrounds/matematica-geral-background.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

main.main-math {
     background-color: rgba(107, 188, 255, 0.911);
     height: 1000px;
}

/* ==========================
   CLASSES ISOLADAS: MATEMÁTICA
   ========================== */
