@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 2000px;
}

.cind {
    text-indent: 20px;
}

.cind1 {
    text-indent: 40px;
}

.destaq {
    font-weight: bolder;
}

#maior {
    font-size: 18px;
    background-color: rgb(231, 231, 231);
    display: inline-block;
    margin-bottom: 10px;
}

#espaco {
    margin-top: 10px;
    margin-bottom: 10px;
}

div#tamanho {
    font-size: 25px;
    padding: 10px;
}

.soma {
    text-indent: 20px;
    font-weight: bolder;
}